<div class="row align-items-center my-5 flex-md-row-reverse">
  <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
    <%= image_tag "saving_time.png", class: "img-fluid rounded small-screen-img" %>
  </div>
  <div class="col-12 col-md-4 mt-3">
    <p class="fs-3 px-3 text-wrap text-center">Cut the time of doing inventory in half! No more running back and forth between the office and your stock rooms</p>
  </div>
</div>

<div class="row align-items-center my-5">
  <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
    <%= image_tag "hand_phone.png", class: "img-fluid rounded small-screen-img" %>
  </div>
  <div class="col-12 col-md-4 mt-3">
    <p class="fs-3 px-3 text-wrap text-center">Say goodbye to all your old clipboards and inventory sheets! Access your inventory from anywhere!</p>
  </div>
</div>

<div class="row align-items-center my-5 flex-md-row-reverse">
  <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
    <%= image_tag "cloud_clipboard.png", class: "img-fluid rounded small-screen-img" %>
  </div>
  <div class="col-12 col-md-4 mt-3">
    <p class="fs-3 px-3 text-wrap text-center">No more printing out inventory sheets and storing them. Access holiday inventory sheets to prepare for those busy weeks!</p>
  </div>
</div>

<div class="row align-items-center my-5">
  <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
    <%= image_tag "ipad_clipboard_package.png", class: "img-fluid rounded small-screen-img" %>
  </div>
  <div class="col-12 col-md-4 mt-3">
    <p class="fs-3 px-3 text-wrap text-center">Have absolute control over your items. Create, delete, edit, and rearrange as you please</p>
  </div>
</div>
