<div class="d-flex justify-content-center mt-5">
  <div class="card border-2 border-dark py-3 px-3">
    <div class="card-body">
      <p class="card-text fw-bold py-1">
        <i class="fa-solid fa-list-check fa-xl"></i>
        <span class="ms-2">Improve your restaurant's operational efficiency</span>
      </p>
      <p class="card-text fw-bold py-1">
        <i class="fa-solid fa-clock fa-xl"></i>
        <span class="ms-2">Cut inventory time in half!</span>
      </p>
      <p class="card-text fw-bold py-1">
        <i class="fa-solid fa-globe fa-xl"></i>
        <span class="ms-2">Access your inventory from anywhere!</span>
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to new_user_registration_path, class: "btn btn-outline-primary btn-lg" do %>
          Don't wait, sign up your restaurant today
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
