<div class="d-flex justify-content-center mt-5">
  <div class="card border-2 border-dark">
    <div class="card-body">
      <p class="card-text fw-bold">
        <i class="fa-solid fa-sack-dollar fa-2x"></i>
        <span class="ms-2">Use our inventory control app for free while you still can!</span>
      </p>
      <p class="card-text fw-bold">
        <i class="fa-solid fa-sitemap fa-2x"></i>
        <span class="ms-2">Get your restaurant more organized, cut inventory time in half!</span>
      </p>
      <p class="card-text fw-bold">
        <i class="fa-solid fa-globe fa-2x"></i>
        <span class="ms-2">Access your inventory from anywhere!</span>
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to new_user_registration_path, class: "btn btn-outline-primary btn-lg" do %>
          Don't wait, sign up your restaurant today
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
