<footer class="text-center mt-5">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://twitter.com/salcasta"
        role="button"
        ><i class="fab fa-twitter fa-3x"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://linkedin.com/in/salcasta"
        role="button"
        ><i class="fab fa-linkedin fa-3x"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://github.com/salcasta"
        role="button"
        ><i class="fab fa-github fa-3x"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3">
    © 2024 Copyright:
    <a class="text-body" href="https://clipcloud.onrender.com">ClipCloud</a>
  </div>
</footer>
