<div class="d-flex justify-content-center justify-content-md-start">
  <div class="card border-0" style="width: 22rem;">
    <h5 class="card-header bg-dark text-white">Lalo's - Schaumburg</h5>
    <div class="card-body">
      <h5 class="card-title">Amazing time saving app</h5>
      <p>
        <i class="fa-solid fa-star yellow-star"></i>
        <i class="fa-solid fa-star yellow-star"></i>
        <i class="fa-solid fa-star yellow-star"></i>
        <i class="fa-solid fa-star yellow-star"></i>
        <i class="fa-solid fa-star yellow-star"></i>
      </p>
      <p class="card-text">"A simple and easy to use, time saving app. I feel I have more control over my inventory"</p>
      <p class="card-text">-Victor Hugo Castaneda</p>
    </div>
  </div>
</div>
