<h1>Editing inventory sheet</h1>

<%= render "form", inventorysheet: @inventorysheet %>

<br>

<div>
  <%= link_to "Show this inventory sheet", @inventorysheet %> |
  <%= link_to "Back to #{@clipboard.area} inventory sheets", inventorysheets_path(clipboard_id: @clipboard.id) %>
</div>
