<h1>Editing inventory sheet</h1>

<%= render "form", inventorysheet: @inventorysheet %>

<br>

<div>
  <%= link_to "Show this inventory sheet", @inventorysheet %> |
  <%= link_to "Back to inventory sheets", inventorysheets_path %>
</div>
