<h1>Editing inventorysheet</h1>

<%= render "form", inventorysheet: @inventorysheet %>

<br>

<div>
  <%= link_to "Show this inventorysheet", @inventorysheet %> |
  <%= link_to "Back to inventorysheets", inventorysheets_path %>
</div>
