<div id="<%= dom_id clipboard %>">

  <div class="card" style="width: 20rem;">
    <div class="card-body d-flex flex-column align-items-center">
      <h5 class="card-title"><%= clipboard.area.upcase %></h5>
      <p class="card-text"><%= "Manage your #{clipboard.area} inventory sheets" %></p>
      <%= link_to "Show this clipboard", clipboard, class: "btn btn-primary" %>
    </div>
  </div>

</div>
