<h1>Editing clipboard</h1>

<%= render "form", clipboard: @clipboard %>

<br>

<div>
  <%= link_to "Show this clipboard", @clipboard %> |
  <%= link_to "Back to clipboards", clipboards_path %>
</div>
