<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center">
  <h1 class="">Clipboards</h1>
</div>

<div id="clipboards">
  <% @clipboards.each do |clipboard| %>
    <%= render clipboard %>
  <% end %>
</div>

<%= link_to "New clipboard", new_clipboard_path %>
