<div class="d-flex justify-content-between align-items-center">
  <h1 class="text-center display-6 flex-grow-1">Clipboards</h1>
</div>

<%= render partial: "add_button" %>

<div id="clipboards" class="d-flex flex-row justify-content-center flex-wrap mt-4">
  <%= render partial: "clipboard", collection: @clipboards, as: :clipboard %>
</div>
