<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to the inventory sheet", inventorysheet_path(@order.inventory_sheets_id) %>
</div>
