<div class="d-flex justify-content-center">
  <h1 class="display-6">Orders</h1>
</div>

<div id="orders" class="d-flex justify-content-center flex-wrap">
  <%= render partial: "order", collection: @orders, as: :order %>
</div>
