<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center">
  <h1>Orders</h1>
</div>

<div id="orders" class="d-flex justify-content-center flex-wrap">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
