<div class="d-flex justify-content-between align-items-center">
  <h1 class="text-center display-6 flex-grow-1">Vendors</h1>
</div>

<%= render  partial: "add_button" %>

<div id="vendors" class="d-flex flex-row justify-content-center flex-wrap mt-4">
  <% @vendors.each do |vendor| %>
      <%= render vendor %>
  <% end %>
</div>
