<div class="d-flex justify-content-center">
  <%= link_to new_item_path, class: "text-decoration-non2 text-dark" do %>
    <div class="card mt-3 border-0" style="width: 22rem; width: 20rem;">
      <div class="card-body d-flex flex-column justify-content-center align-items-center bg-info add-button-hover rounded">
        <i class="fa-solid fa-plus fa-4x"></i>
      </div>
    </div>
  <% end %>
</div>
