 .rubik-bubbles {
  font-family: "Rubik Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #B3D6FF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5 {
  max-width: 100%;
}

.yellow-star {
  color: rgb(242, 194, 79);
}

#vendor_title_truncate {
  max-width: 100%;
}

#comment_truncate {
  max-width: 100%;
}

#item_vendor_truncate {
  max-width: 100%;
}

@media (max-width: 576px) {
  .small-screen-img {
    width: 50%;
  }

  .small-screen-padding {
    padding-top: 5rem;
  }
}

@media (min-width: 992px) {
  .full-screen-padding {
    padding-top: 10rem;
  }
}
